
<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <h2><%= projectDetails.title %></h2>

    <p><strong>Organization:</strong> 
        <a href="/organization/<%= projectDetails.organization_id %>"><%= projectDetails.organization_name %></a>
    </p>

    <p><strong>Description:</strong> <%= projectDetails.description %></p>

    <p><strong>Date:</strong> <%= projectDetails.project_date %></p>

    <p><strong>Location:</strong> <%= projectDetails.location %></p>

    <h3>Categories</h3>

    <div class="categories">

        <% categories.forEach(category => { %>

            <a class="category-tag" href="/category/<%= category.category_id %>">
                <%= category.name %>
            </a>

        <% }) %>

    </div>

</main>



<%- include('partials/footer') %>