
<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <h2><%= projectDetails.title %></h2>

    <p><strong>Organization:</strong> 
        <a href="/organization/<%= projectDetails.organization_id %>"><%= projectDetails.organization_name %></a>
    </p>

    <p><strong>Description:</strong> <%= projectDetails.description %></p>

    <p><strong>Date:</strong> <%= projectDetails.project_date %></p>

    <p><strong>Location:</strong> <%= projectDetails.location %></p>


</main>



<%- include('partials/footer') %>